.main {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;
}

@media screen and (max-width: 830px) {
  .main {
    flex-wrap: wrap;
  }
}

.main__content {
  display: flex;
  justify-content: space-between;
  margin: 0 -20px;
}
@media screen and (max-width: 839px) {
  .main__content {
    flex-direction: column;
  }
}

/* MOD */
.list-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* Social Block */
.social {
  padding: 0px 20px;
  flex: 0 1 35%;
}

/* MOD */
.title {
  text-align: center;
  margin-top: 0;
}
.social__list {
  list-style: none;
  padding: 0;
  margin-top: 0;
}
.social__item {
  margin-bottom: 10px;
}
.social__link {
  font-size: 18px;
  color: rgb(3, 117, 31);
}
/* MOD */
.link-zeroing {
  text-decoration: none;
}
/* Hobbies Block */
.hobbies {
  padding: 0px 20px;
  flex: 0 1 35%;
}

.hobbies__list {
  list-style: inside;
  margin-top: 0;
  padding: 0;
}

.hobbies__item {
  margin-bottom: 10px;
  font-size: 18px;
  color: rgb(3, 117, 31);
}

/* TEXHNICAL BLOCK */
.technical-skills {
  padding: 0px 20px;
  flex: 0 1 35%;
}

.technical-skills__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 0;
  list-style: none;
  padding: 0;
}

.technical-skills__item {
  flex-basis: 50px;
  margin: 0;
  margin-bottom: 10px;
}
.technical-skills__img {
  max-width: 64px;
}
.link-zeroing {
}
/* Soft Block */
.soft-skills {
  padding: 0px 20px;
  flex: 0 1 35%;
}

.soft-skills__list {
  list-style: inside;
  padding: 0;
}
.soft-sfills__item {
  margin-bottom: 10px;
  text-align: center;
  font-size: 18px;
  color: rgb(3, 117, 31);
}
